.comments {
  padding: 10px;
  display: flex;
  align-items: center;
  /*background-color: white;*/
  /*border: 1px solid;*/
  /*border-radius: 10px;*/
  /*box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);*/
}

.left {
  flex: 1;
  margin-right: 10px;
}

.head {
  display: flex;
  justify-content: space-between;
}

.comment {
  max-height: 100px;
  word-break: break-all;
  overflow: scroll;
}